@page
@model BibliotecaMunicipal.Models.Pessoas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pessoa.PessoaId" />
            <div class="form-group">
                <label asp-for="Pessoa.PessoaName" class="control-label"></label>
                <input asp-for="Pessoa.PessoaName" class="form-control" />
                <span asp-validation-for="Pessoa.PessoaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Endereço" class="control-label"></label>
                <input asp-for="Pessoa.Endereço" class="form-control" />
                <span asp-validation-for="Pessoa.Endereço" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Cpf" class="control-label"></label>
                <input asp-for="Pessoa.Cpf" class="form-control" />
                <span asp-validation-for="Pessoa.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Telefone" class="control-label"></label>
                <input asp-for="Pessoa.Telefone" class="form-control" />
                <span asp-validation-for="Pessoa.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Idade" class="control-label"></label>
                <input asp-for="Pessoa.Idade" class="form-control" />
                <span asp-validation-for="Pessoa.Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
